* {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Italiana", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Serif", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
}
